astropy==2.0.3
attrs==17.4.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
bokeh==0.12.13
certifi==2017.11.5
funcsigs==1.0.2
futures==3.2.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pathlib==1.0.1
pipenv==11.1.5
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
python-dateutil==2.6.1
PyYAML==3.12
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.3
virtualenv==15.1.0
virtualenv-clone==0.3.0
